:root {
  --cor-fundo: #160d24;
  --cor-principal: #241238;
  --cor-secundaria: #4a2a67;
  --cor-destaque: #c084fc;
  --cor-texto: #f3e8ff;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--cor-destaque);
}